            *, html {
                margin:0;
                padding:0;  
            }

            body{
                margin-bottom: 100px;
            }

            .line{
                margin-top: 30px;
                margin-bottom: 30px;
                border-top: dotted 3px rgb(241, 212, 175);
                margin-left: 25%;
                margin-right: 25%;
            }

            header{
                position: fixed;
                background-color: rgb(250, 105, 0);
                color: white;
                margin-bottom: 50px;
                width:100%;
                height: 70px;
            }

            header span{
                display: inline-block;
                line-height: 70px;  
            }

            p{
                line-height: 1.5em;
                text-indent: 5em;
                margin-left: 10%;
                margin-right: 10%;
                margin-bottom: 15px;
            }

            img{
                display: block;
                margin: auto;
                padding: 10px; 
            }

            strong{
                font-weight: bold;
                color: rgb(250, 105, 0);
            }

            a{
                color: rgb(250, 105, 0);
                /*text-decoration: none;*/
            }

            a:hover{
                color: rgb(105, 210, 231);
                /*text-decoration: none;*/
            }

            h6{
                margin-top: 10px;
                margin-bottom: 25px;
            }

            /***************Font Control*******************/
            .title, .para-title, #intro-to-mimi, .date{
                font-family: 'Rancho', cursive;
                letter-spacing: 2px;

            }

            ul, p{
                font-family: 'Gudea', sans-serif;
            }
            /***************Font Control*******************/


            .title{
                padding-top: 100px;
                color: rgb(250, 105, 0);
                text-align: center;
            }


            #top-of-page{
                font-size: 4em;
            }
            
            .date{
                /*font-family: 'Cutive Mono', monospace;*/
                font-size: 1em;
                text-align: center;
                color: rgb(105, 210, 231);
            }
            
            #pic-follow{
                position: fixed;
                right: 1%;
                top: 1%;
                width: 3%;
            }