            *, html {
                margin:0;
                padding:0;  
            }

            body{
                margin-bottom: 100px;
            }

            /***************Font Control*******************/
            .title, .date{
                font-family: 'Rancho', cursive;
                letter-spacing: 2px;

            }

            p{
                font-family: 'Gudea', sans-serif;
            }
            /***************Font Control*******************/

            .line{
                margin-top: 30px;
                margin-bottom: 30px;
                border-top: dotted 3px rgb(241, 212, 175);
                margin-left: 25%;
                margin-right: 25%;
            }

            
            ul{
                position: fixed;
                top: 0;
                width: 100%;
                font-family: 'Rancho', cursive;
                font-size: 1.5em;
            }

            ul.topnav {
                list-style-type: none;
                margin: 0;
                padding: 0;
                overflow: hidden;
                background-color: rgb(243,134,48);
            }

            ul.topnav li {float: left;}

            ul.topnav li a {
                display: block;
                color: white;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
            }

            ul.topnav li a:hover:not(.active) {color: rgb(105, 210, 231);}

            ul.topnav li a.active {color: rgb(105, 210, 231);}

            ul.topnav li.right {float: right;}

            @media screen and (max-width: 600px){
                ul.topnav li.right, 
                ul.topnav li {float: none;}
            }

/*            header{
                position: fixed;
                background-color: rgb(243,134,48);
                color: white;
                margin-bottom: 50px;
                width:100%;
                height: 70px;
            }

            header a{
                color: white;
                text-decoration: none;

            }

            header span{
                display: inline-block;
                line-height: 70px;  
                font-family: 'Rancho', cursive;
                font-size: 1.7em;

            }*/

            p{
                line-height: 1.5em;
                text-indent: 5em;
                margin-left: 10%;
                margin-right: 10%;
                margin-bottom: 15px;
            }

            img{
                display: block;
                margin: auto;
                padding: 10px; 
            }

            strong{
                font-weight: bold;
                color: rgb(250, 105, 0);
            }

            a{
                color: rgb(250, 105, 0);
                /*text-decoration: none;*/
            }

            a:hover{
                color: rgb(105, 210, 231);
                /*text-decoration: none;*/
            }

            h6{
                margin-top: 10px;
                margin-bottom: 25px;
            }


            .title{
                padding-top: 100px;
                color: rgb(250, 105, 0);
                text-align: center;
                font-weight: normal;
            }


            #top-of-page{
                font-size: 4em;
            }
            
            .date{
                /*font-family: 'Cutive Mono', monospace;*/
                font-size: 1em;
                text-align: center;
                color: rgb(105, 210, 231);
            }
            
            #pic-follow{
                position: fixed;
                right: 1%;
                top: 1%;
                width: 3%;
            }