body{
            background-color: rgb(224, 228, 204);
            color: rgb(250, 105, 0);
            font-family: 'Rancho', cursive;
        }

        p{
            color: rgb(243, 134, 48);
            font-family: 'Gudea', sans-serif;
            text-indent: 5em;
            /*text-align: center;*/
            margin-right: 20px;
            margin-left:20px;
        }

        span{
            font-weight: bold;
            color: rgb(250, 105, 0);
        }

        a{
            color: rgb(250, 105, 0);
        }

        a:hover{
            color: rgb(243, 134, 48);
        }



        #page-title{
            text-align:center;
            margin-bottom:50px;
            font-size: 3em;

        }